<%= form_with(model: inventory) do |form| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
        <% inventory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :units %>
    <%= form.number_field :units %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :delivered_on %>
    <%= form.datetime_select :delivered_on %>
  </div>

  <div class="field">
    <%= form.label :distributor_id %>
    <%= form.text_field :distributor_id %>
  </div>

  <div class="field">
    <%= form.label :manufacturer_id %>
    <%= form.text_field :manufacturer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
