<p id="notice"><%= notice %></p>

<h1>Inventories</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Units</th>
      <th>Price</th>
      <th>Delivered on</th>
      <th>Distributor</th>
      <th>Manufacturer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.product_id %></td>
        <td><%= inventory.units %></td>
        <td><%= inventory.price %></td>
        <td><%= inventory.delivered_on %></td>
        <td><%= inventory.distributor_id %></td>
        <td><%= inventory.manufacturer_id %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
