<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @inventory.product_id %>
</p>

<p>
  <strong>Units:</strong>
  <%= @inventory.units %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inventory.price %>
</p>

<p>
  <strong>Delivered on:</strong>
  <%= @inventory.delivered_on %>
</p>

<p>
  <strong>Distributor:</strong>
  <%= @inventory.distributor_id %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @inventory.manufacturer_id %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
