<%= form_with(model: order_product_mapping) do |form| %>
  <% if order_product_mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_product_mapping.errors.count, "error") %> prohibited this order_product_mapping from being saved:</h2>

      <ul>
        <% order_product_mapping.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.text_field :order_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
