<h1>Editing Order Product Mapping</h1>

<%= render 'form', order_product_mapping: @order_product_mapping %>

<%= link_to 'Show', @order_product_mapping %> |
<%= link_to 'Back', order_product_mappings_path %>
