<p id="notice"><%= notice %></p>

<h1>Order Product Mappings</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_product_mappings.each do |order_product_mapping| %>
      <tr>
        <td><%= order_product_mapping.order_id %></td>
        <td><%= order_product_mapping.product_id %></td>
        <td><%= link_to 'Show', order_product_mapping %></td>
        <td><%= link_to 'Edit', edit_order_product_mapping_path(order_product_mapping) %></td>
        <td><%= link_to 'Destroy', order_product_mapping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Product Mapping', new_order_product_mapping_path %>
