<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_product_mapping.order_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order_product_mapping.product_id %>
</p>

<%= link_to 'Edit', edit_order_product_mapping_path(@order_product_mapping) %> |
<%= link_to 'Back', order_product_mappings_path %>
