<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @distributor.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @distributor.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @distributor.address %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @distributor.contact_person %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @distributor.contact_number %>
</p>

<%= link_to 'Edit', edit_distributor_path(@distributor) %> |
<%= link_to 'Back', distributors_path %>
